// Colors
$black: #000;
$white: #fff;

$grey-1: #e7e7e7;
$grey-2: #c2c2c2;
$grey-3: #666666;

$nav-bg: #64625e;

$body-bg: #fafafa;
$btn-green: #2ccf72;

$card-top-active: #219653;
$card-top: #f9f5eb;
