// Colors
:root {
    --black: #000;
    --white: #fff;

    --grey-1: #e7e7e7;
    --grey-2: #c2c2c2;
    --grey-3: #666666;
    --grey-4: #64625e;

    --grey-text-1: #8c8c8c;
    --grey-text-2: #20201f;

    --light-bg-1: #fafafa;
    --light-bg-2: #f9f5eb;

    --green-1: #2ccf72;
    --green-2: #219653;

    --dark-bg-1: #1f1f1f;
    --dark-bg-2: #262626;
    --dark-bg-3: #151515;
}

[theme='light'] {
    --body-bg: var(--light-bg-1);
    --tv-border: var(--white);
    --contact-bg: var(--light-bg-2);
    --footer-bg: var(--grey-3);

    --card-bg: var(--white);

    --text-color-1: var(--black);
    --text-color-2: var(--grey-text-1);
    --text-color-3: var(--grey-3);
    --text-color-4: var(--grey-text-2);
}

[theme='dark'] {
    --body-bg: var(--dark-bg-1);
    --tv-border: var(--dark-bg-2);
    --contact-bg: var(--dark-bg-2);
    --footer-bg: var(--dark-bg-3);

    --card-bg: var(--dark-bg-2);

    --text-color-1: var(--white);
    --text-color-2: var(--white);
    --text-color-3: var(--white);
    --text-color-4: var(--white);
}
